<launch>
  <!-- 设置参数 -->
  <arg name="debug" default="false" />

  <arg name="use_gui" default="false" />

  <!-- 导入URDF以及其他yaml文件，将参数导入server -->
  <include file="$(find kaka_control_pkg)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

   <!-- 启动robot_state_publisher节点，发布机器人的tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- pulish机器人状态 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="$(arg use_gui)"/>
    <rosparam param="/source_list">[/feedback_joint_states]</rosparam>
  </node>

  <!-- 启动moveit -->
  <include file="$(find kaka_control_pkg)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/><!-- 设置成false -->
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- 启动rviz -->
  <include file="$(find kaka_control_pkg)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

   <!-- 启动kaka_drive_node节点 -->
  <node name="kaka_drive" pkg="kaka_drive_pkg" type="kaka_drive_node" output="screen"/>

   <!-- 启动kaka_serial_node节点 -->
  <node name="kaka_serial" pkg="kaka_serial_pkg" type="kaka_serial_node" output="screen"/>

   <!-- 启动kaka_gripper_node节点 -->
  <node name="kaka_gripper" pkg="kaka_gripper_pkg" type="kaka_gripper_node" output="screen"/> 

   <!-- 启动kaka_brain_node节点 -->
  <node name="kaka_brain" pkg="kaka_brain_pkg" type="kaka_brain_node" output="screen"/>  

   <!-- 启动kaka_test_node节点 -->
  <node name="kaka_test" pkg="kaka_test_pkg" type="kaka_test_node" output="screen"/>  

</launch>
